body{
    background-color: #D5E1EF;
    text-align: center;
    font-size: 0.75rem;
    
}
h6{
    font-weight: bold;
}
.card{
    width: 16rem;
    margin: auto;
    border-radius: 5%;
    margin-top: 10%;    
}
.card img{
    border-radius: 12%;
    padding: 10px;
    padding-bottom: 5px;
}